{% extends 'base.html.twig' %}

{% block title %}Hello TravauxController!{% endblock %}
{% block stylesheets %}
<style>
    .container{
        width: 80%;
    }
</style>

{% endblock %}
{% block body %}

  <header class='header is-normal-header'>
            <nav class='menu-nav'>
                <ul >
                   <li class='onglet-nav'><span >Qui suis je ?</span><div class="souligne"></div></li>
                    <li class='onglet-nav'><span >Travaux</span><div class="souligne"></div></li>
                    <li class='onglet-nav'><span >Contact</span><div class="souligne"></div></li>

                </ul>
            </nav>
        </header>
        <section class='container'>

        <section>

{% endblock %}
